<div class="wrapper h-100 w-100 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-3">Ranking</h1>
        <p-table [value]="ranks" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Match Played</th>
              <th>Win</th>
              <th>Draw</th>
              <th>Lose</th>
              <th>GF</th>
              <th>GA</th>
              <th>GD</th>
              <th>Point</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
            <tr>
              <th>{{rowIndex + 1}}</th>
              <td>{{user.name}}</td>
              <td>{{user.match_played}}</td>
              <td>{{user.win}}</td>
              <td>{{user.draw}}</td>
              <td>{{user.lose}}</td>
              <td>{{user.gf}}</td>
              <td>{{user.ga}}</td>
              <td>{{user.gd}}</td>
              <td>{{user.point}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-12 mb-5">
        <h1 class="display-3">League</h1>
        <p-table [value]="league" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <ng-container *ngFor="let item of data;let cellIndex=index">
                <th *ngIf="rowIndex==0;else otherRows">{{item}}</th>
                <ng-template #otherRows>
                  <th *ngIf="cellIndex == 0">{{item}}</th>
                  <td *ngIf="cellIndex != 0" [class.bg-none]="isNullCell(item)">
                    {{ isNullCell(item) ? '' : item }}
                  </td>
                </ng-template>
              </ng-container>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
