<div class="wrapper h-100 w-100 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-3">Ranking</h1>
        <p-table class="ranking" [value]="ranks" [columns]="players" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Match Played</th>
              <th>Win</th>
              <th>Draw</th>
              <th>Lose</th>
              <th>GF</th>
              <th>GA</th>
              <th>GD</th>
              <th>Point</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-player let-rowIndex="rowIndex">
            <tr [class.gold]="rowIndex == 0" [class.damirchi]="player.name=='AliReza-D'">
              <th>{{rowIndex + 1}}</th>
              <td>
                <img [src]="player.flag">
                <span>
                  <img *ngIf="rowIndex == 0" src="assets/crown.jpg">
                  <span [attr.data-text]="player.name">{{player.name}}</span>
                </span>
              </td>
              <td>{{player.matchPlayed}}</td>
              <td>{{player.win}}</td>
              <td>{{player.draw}}</td>
              <td>{{player.lose}}</td>
              <td>{{player.gf}}</td>
              <td>{{player.ga}}</td>
              <td>{{player.gd}}</td>
              <td>{{player.point}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-12 mb-5">
        <h1 class="display-3">League</h1>
        <p-table class="league"  [value]="players" [columns]="players" responsiveLayout="scroll"
                 styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th></th>
              <th *ngFor="let item of columns">{{item.name}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-player let-rowIndex="rowIndex">
            <tr>
              <td>{{player.name}}</td>
              <td *ngFor="let match of getPlayerMatches(player);let i=index"
                  [class.bg-none]="match.player1.id == match.player2.id || rowIndex>i">
                {{getMatchResult(match)}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
