<div class="tournament-tree">
  <div class="slot slot--18-1 slot--top slot--left">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--18-2 slot--left">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--18-3 slot--top slot--left">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--18-4 slot--left">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--18-5 slot--top slot--right">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--18-6 slot--right">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--18-7 slot--top slot--right">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--18-8 slot--right">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--14-1 slot--left">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--14-2 slot--left">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--14-3 slot--right">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--14-4 slot--right">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--12-1 slot--left">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--12-2 slot--right">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
  <div class="slot slot--11-1">
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
    <div class="team">
      <span class="name">name</span><span class="score">0</span>
    </div>
  </div>
</div>


<hr>


<div class="bracket">
  <section class="round quarterfinals">
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant winner">Uno</div>
          <div class="participant">Ocho</div>
        </div>
        <div class="matchup">
          <div class="participant">Dos</div>
          <div class="participant winner">Siete</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Treis</div>
          <div class="participant winner">Seis</div>
        </div>
        <div class="matchup">
          <div class="participant">Cuatro</div>
          <div class="participant winner">Cinco</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant winner">Uno</div>
          <div class="participant">Ocho</div>
        </div>
        <div class="matchup">
          <div class="participant">Dos</div>
          <div class="participant winner">Siete</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Treis</div>
          <div class="participant winner">Seis</div>
        </div>
        <div class="matchup">
          <div class="participant">Cuatro</div>
          <div class="participant winner">Cinco</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round semifinals">
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant winner">Uno</div>
          <div class="participant">Dos</div>
        </div>
        <div class="matchup">
          <div class="participant winner">Seis</div>
          <div class="participant">Cinco</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant winner">Uno</div>
          <div class="participant">Dos</div>
        </div>
        <div class="matchup">
          <div class="participant winner">Seis</div>
          <div class="participant">Cinco</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round finals">
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant winner">Uno</div>
          <div class="participant">Seis</div>
        </div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant winner">Uno</div>
          <div class="participant">Seis</div>
        </div>
      </div>
    </div>
  </section>
</div>
