*,
*:after,
*:before {
  box-sizing: border-box;
}

.bracket {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2rem;

  &:after {
    content: "";
    background-image: url("../../assets/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(7px);
  }

  .round,
  .couple > div {
    display: inline-block;
    vertical-align: top;
  }
}

.matchup {
  border-radius: 0.25rem;

  .participant {
    color: #858585;
    border: 2px solid #eeeeee;
    width: 14rem;
    height: 4rem;
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    &:first-child {
      border-bottom-width: 1px;
    }

    &:last-child {
      border-top-width: 1px;
    }

    &.winner {
      color: #60c645;
    }
  }
}

.connector {
  .line,
  .merger {
    box-sizing: border-box;
    width: 2rem;
    display: inline-block;
    vertical-align: top;
  }

  .line {
    border-bottom: 2px solid #eeeeee;
  }

  .merger {
    position: relative;

    &:before,
    &:after {
      content: "";
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 50%;
      border: 0 solid #eeeeee;
    }

    &:before {
      border-right-width: 2px;
      border-top-width: 2px;
    }

    &:after {
      border-right-width: 2px;
      border-bottom-width: 2px;
    }
  }
}

.quarterfinals {
  .matchup {
    margin-bottom: 2rem;
  }

  .connector {
    transform: translateY(4rem);

    .merger {
      height: 10rem;
    }

    .line {
      height: 5rem;
    }
  }
}

.semifinals {
  .matchup {
    margin-bottom: 12rem;
    transform: translateY(5rem);
  }

  .connector {
    transform: translateY(9rem);

    .merger {
      height: 20rem;
    }

    .line {
      height: 10rem;
    }
  }
}

.finals {
  .matchup {
    margin-bottom: 32rem;
    transform: translateY(15rem);
  }

  .connector {
    transform: translateY(19rem);

    .merger {
      height: 40rem;
    }

    .line {
      height: 20rem;
    }
  }
}

.end {
  transform: translateY(35rem);

  .matchups {
    display: flex !important;
    align-items: center;

    .matchup {
      position: relative;

      img {
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
      }
    }
  }

  .connector {
    line-height: 0;

    .line {
      vertical-align: middle;
    }
  }

}

