<div class="bracket">
  <section class="round quarterfinals">
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round semifinals">
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round finals">
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
        <div class="matchup">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round end">
    <div class="couple">
      <div class="matchups">
        <div class="matchup">
          <img src="assets/silver.png">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
        <div class="connector">
          <div class="line"></div>
        </div>
        <div class="matchup">
          <img src="assets/gold.png">
          <div class="participant">Name</div>
          <div class="participant">Name</div>
        </div>
      </div>
    </div>
  </section>
</div>


<!--<div class="tournament-tree">-->
<!--  <div class="slot slot&#45;&#45;18-1 slot&#45;&#45;top slot&#45;&#45;left">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;18-2 slot&#45;&#45;left">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;18-3 slot&#45;&#45;top slot&#45;&#45;left">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;18-4 slot&#45;&#45;left">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;18-5 slot&#45;&#45;top slot&#45;&#45;right">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;18-6 slot&#45;&#45;right">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;18-7 slot&#45;&#45;top slot&#45;&#45;right">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;18-8 slot&#45;&#45;right">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;14-1 slot&#45;&#45;left">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;14-2 slot&#45;&#45;left">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;14-3 slot&#45;&#45;right">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;14-4 slot&#45;&#45;right">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;12-1 slot&#45;&#45;left">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;12-2 slot&#45;&#45;right">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="slot slot&#45;&#45;11-1">-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--    <div class="team">-->
<!--      <span class="name">name</span><span class="score">0</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<hr>-->

