<div class="container">
  <div class="row">
    <div class="col-12">
      <p-table [value]="league" [columns]="tableColumns" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th></th>
            <th *ngFor="let col of columns">{{col}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
          <tr>
            <th>{{user.name}}</th>
            <td [class.bg-dark]="rowIndex == 0">
              {{rowIndex == 0 ? '' : user.name}}
            </td>
            <td [class.bg-dark]="rowIndex == 1">
              {{rowIndex == 1 ? '' : user.name}}
            </td>
            <td [class.bg-dark]="rowIndex == 2">
              {{rowIndex == 2 ? '' : user.name}}
            </td>
            <td [class.bg-dark]="rowIndex == 3">
              {{rowIndex == 3 ? '' : user.name}}
            </td>
            <td [class.bg-dark]="rowIndex == 4">
              {{rowIndex == 4 ? '' : user.name}}
            </td>
            <td [class.bg-dark]="rowIndex == 5">
              {{rowIndex == 5 ? '' : user.name}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12">
      <p-table [value]="ranks" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>#</th>
            <th>Club</th>
            <th>MP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th>Pts</th>
            <th>Last 5</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
          <tr>
            <th>{{rowIndex + 1}}</th>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
