.wrapper {
  background-image: url("../../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 575px) {
  .wrapper {
    background-position: 80%;
  }
}
